# EmailJS Configuration
# Copy this file to .env and fill in your actual values
VITE_EMAILJS_PUBLIC_KEY=MK2OUomFmzWPrHpMW
VITE_EMAILJS_SERVICE_ID=service_f2t090t
VITE_EMAILJS_TEMPLATE_ID=template_7xibgbq

# Supabase Configuration
VITE_SUPABASE_URL=https://zubrflyhzsmqngfbjkpg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp1YnJmbHloenNtcW5nZmJqa3BnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5MjA4NjAsImV4cCI6MjA2ODQ5Njg2MH0.SIDLeNDWphs1LxPLO5Mg37oCUB_8eAvfRIz5lCfle8g
